*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-content: center;
  margin: 133px 30px;
  width: 1140px;
  min-height: 537px;
  align-items: end;
  column-gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position:relative;
}

.result__video-container video {
  width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
}

.search-form__label:has(.search-form__pseudo-checkbox_not) {
  margin-left: 15px;
}

.search-form__fieldset-title {
  font-family:Fira Sans Condensed, sans-serif;
  font-weight:400;
  font-size: 18px;
  line-height:21.6px;
  margin-bottom: 5px;
  color:rgba(255, 255, 255, 1);
}

.search-form__label-text {
  font-family:Fira Sans Condensed, sans-serif;
  font-weight:400;
  font-size: 18px;
  line-height:21.6px;
  margin-left: 5px;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px rgba(255, 255, 255, 1) solid;
  cursor: pointer;
}

.search-form__label_not:hover {
  border-bottom: none;
}

.title {
  font-family:Oswald, sans-serif;
  font-weight:700;
  font-size: 75px;
  line-height:70.5px;
  color:rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color:rgba(84, 80, 80, 1);
}

.content__list {
  display: grid;
  width: 394px;
  height:298px;
  overflow-y: scroll;
  position:relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:hover {
  text-decoration: underline 1px solid rgba(255, 255, 255, 1);
  text-underline-offset: 6px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  margin: 2px 2px;
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width:194px; 
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color:rgba(255, 255, 255, 1);
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 2px 0px 0px 2px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  margin: 6px 0px 0px 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__textfield {
  background-color: transparent;
  color:rgba(255, 255, 255, 1);
  width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__textfield:has(:focus) {
  border:none;
}

.search-form__textfield:has(:focus-visible) {
  border:1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: -1px;
  margin-bottom:3px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  align-self: center;
  content:"";
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 1);
}

.search-form__label:has(.search-form__checkbox:focus) {
  border: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid rgba(255, 255, 255, 1);
}

.search-form__submit-button {
  width:194px;
  height:34px;
  align-self: end;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  outline-offset: -1px;
  color:rgba(255, 255, 255, 1);
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
}

.more-button {
  width:394px;
  height:34px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  outline-offset: -1px;
  color:rgba(255, 255, 255, 1);
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
}

button {
  cursor: pointer;
}

.button:hover {
  text-decoration: underline 1px solid rgba(255, 255, 255, 1);
  text-underline-offset: 2px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}